<% if object.errors.any? %>
    <div class="error-card col-md-6 mx-auto">
        <div class="card bg-danger border-white text-white">
            <div class="card-header">
                <%= pluralize(object.errors.count, "error") %> occured:
            </div>
            <div class="card-body">
                <ul>
                    <% object.errors.full_messages.each do |msg| %>
                        <li> <%= msg %> </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
<% end %>
